<!DOCTYPE html>
<html>
<head>
    <title>OtvorenoRacunarstvo0036525885</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/yellred.jfif"/>
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Najbolji njemački rukometni klubovi datatable">
    <meta name="keywords" content="rukomet, njemačka, klubovi, najbolji">
    <meta name="author" content="Matija Vugrinec">
    <script>
            
            let jsondata;
            async function getData() {
                
                await fetch('/data')
                .then (response => response.json())
                .then(data => {
                    jsondata = data;
                    let table = document.getElementById("tableid");
                    
                    

                    data.forEach(element => {
                        let row = document.createElement("tr");

                        let el = document.createElement("td");
                        el.innerHTML = element.naziv_kluba;
                        row.append(el);

                        el = document.createElement("td");
                        el.innerHTML = element.ime_dvorane;
                        row.append(el);

                        el = document.createElement("td");
                        el.innerHTML = element.mjesto;
                        row.append(el);

                        el = document.createElement("td");
                        el.innerHTML = element.glavni_trener;
                        row.append(el);

                        el = document.createElement("td");
                        el.innerHTML = element.god_osnutka;
                        row.append(el);

                        el = document.createElement("td");
                        el.innerHTML = element.poz2021;
                        row.append(el);

                        el = document.createElement("td");
                        el.innerHTML = element.naziv_lige;
                        row.append(el);

                        el = document.createElement("td");
                        el.innerHTML = element.kapacitet_dvorane;
                        row.append(el);

                        el = document.createElement("td");
                        el.innerHTML = element.ime_igraca;
                        row.append(el);

                        el = document.createElement("td");
                        el.innerHTML = element.ime_pomocnika;
                        row.append(el);

                        table.appendChild(row);
                        });

                    });
            }

            getData();

            function convertToCSV(objArray) {
                var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
                var str = 'naziv_kluba,ime_dvorane,mjesto_sjedista,glavni_trener,godina_osnutka,pozicija2021,naziv_lige,kapacitet_dvorane,punoime_pomocnika,punoime_igraca' + '\r\n';

                for (var i = 0; i < array.length; i++) {
                    var line = '';
                    
                    for (var index in array[i]) {
                        if (line != '') line += ','

                        if(index != "ime_igraca"){
                            
                            line += array[i][index];
                            console.log("" + line);
                        } else {
                            
                            for(var index2 in array[i][index]){
                                str += line + array[i][index][index2] + '\r\n';
                            }
                            
                        }
                    }
                }

                return str;
            }

            function returnCsv() {
            

                csv = convertToCSV(jsondata);
                let csvContent = "data:text/csv;charset=utf-8," + csv; 

                

                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", "rukometniKlubovi.csv");
                document.body.appendChild(link); // Required for FF

                link.click(); // This will download the data file named "my_data.csv".
            }            
            
            function returnJson() {

                let csvContent = "data:text/json;charset=utf-8," + JSON.stringify(jsondata); 
                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", "rukometniKlubovi.json");
                document.body.appendChild(link); // Required for FF

                link.click(); // This will download the data file named "my_data.csv".
                
            }
            
    </script>
</head>

<body>

    <form >
        <label>Vrijednost za pretragu</label>
        <input type="text" name="filter" id="filter">
        <p style="font-size : 15px;"> Po ovoj vrijednosti će se pretraživati podaci</p>
        

        <select required name="filtertype" id="filtertype">
            <option value="wildcard">wildcard</option>
            <option value="naziv_kluba">naziv_kluba</option>
            <option value="ime_dvorane">ime_dvorane</option>
            <option value="mjesto_sjedista">mjesto_sjedista</option>
            <option value="glavni_trener">glavni_trener</option>
            <option value="godina_osnutka">godina_osnutka</option>
            <option value="pozicija2021">pozicija2021</option>
            <option value="naziv_lige">naziv_lige</option>
            <option value="kapacitet_dvorane">kapacitet_dvorane</option>
            <option value="punoime_igraca">punoime_igraca</option>
            <option value="punoime_pomocnika">punoime_pomocnika</option>
            
        </select>
        <button> Pretraži</button>
    </form>

    <hr>
    <br>
    <p style="font-size: 20px;">dohvati css: <button onclick="returnCsv()">CSV filtriran</button></p>
   
    <p style="font-size: 20px;">dohvati json:  <button onclick="returnJson()">JSON filtriran</button></p>
    <p style="font-size: 20px;">vrati se na pocetnu stranicu:  <a href="\">Početna stranica</a></p>

    <hr>
    <br>
        <br>
   <table id = "tableid">
       <tr>
           <th>naziv_kluba</th>
           <th>ime dvorane</th>
           <th>mjesto sjedista</th>
           <th>glavni trener</th>
           <th>godina_osnutka </th>
           <th>pozicija u sezoni 20/21</th>
           <th>naziv lige</th>
           <th>kapacitet dvorane</th>
           <th>puno ime najboljih igraca</th>
           <th>puno ime pomocnika</th>
        </tr>

        

   </table>

</body>


</html>