<!DOCTYPE html>
<html>

<head>
    <title>OtvorenoRacunarstvo0036525885</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/yellred.jfif"/>
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Najbolji njemački rukometni klubovi">
    <meta name="keywords" content="rukomet, njemačka, klubovi, najbolji">
    <meta name="author" content="Matija Vugrinec">
    
</head>

<body>
    <p style="font-size: 30px;">dohvati css: <a href="rukomet.csv">CSV - Najbolji rukometni klubovi u njemačkoj</a></p>
   
   <p style="font-size: 30px;">dohvati json:  <a href="rukjs.json">JSON - Najbolji rukometni klubovi u njemačkoj</a></p>

   <p style="font-size: 30px;">prikazi datatable:  <a href="/datatable">datatable</a></p>

   <hr>
   <h1 style=" color: fuchsia;">Opis skupa podataka:</h1> 
        <h1>ime projekta: OtvorenoRacunarstvo0036525885</h1>
        <h2>naziv podataka: Najbolji njemački rukometni klubovi</h2>
        <h2>Licence: Creative Commons</h2>
        <h3>Autor: Matija Vugrinec</h3>
        <h4>Jezik podataka: hrvatski</h4>
        <h5>Atributi :
            <p>>naziv_kluba - puni naziv kluba</p>
            <p>ime_dvorane - ime glavne dvorane u kojoj se igra većina utakmica</p>
            <p>mjesto_sjedista	- grad koji predstavlja taj klub</p>
            <p>glavni_trener - trenutni trener tog kluba</p>
            <p>godina_osnutka - godina kada je osnovani klub</p>
            <p>pozicija2021	- pozicija na kraju sezone 2020 2021 u ligi</p>
            <p>naziv_lige	- koji je naziv lige u kojoj se takmiče</p>
            <p>kapacitet_dvorane	- koliko gledaoca stane u glavnu dvoranu</p>
            <p>punoime_igraca	- puno ime najboljih igrača</p>
            <p>punoime_pomocnika - puno ime pomoćnog trenera</p>
        </h5>
        <h5>Verzija : 1.0
        </h5>
        <h6>Datum izdavanja : 29.10.2021.</h6>
        <h6>Datum zadnje modifikacije: 29.10.2021.
        </h6>
        <h6>Ključne riječi : rukomet, njemačka, klubovi, najbolji
        </h6>
    
</body>



</html>